.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.logindiv {
    width: 50%;
    margin-left: 20%;
    margin-top: 15%;
}
.regdiv {
    width: 50%;
    margin-left: 20%;
    margin-top: 15%;
}