<div class="profcon">
<div style="width: 100%;margin-left:10px;">
<ul>
    <li>
        <td>UserName:&nbsp;&nbsp;&nbsp;{{username}}</td>
    </li>
    <li>
        <td>FullName:&nbsp;&nbsp;&nbsp;{{Fullname}}</td>
    </li>
    <li>
        <td>EmailId:&nbsp;&nbsp;&nbsp;{{email}}</td>
    </li>
    <li>
        <button mat-stroked-button (click)="editProfile()">Edit Profile</button>
    </li>
</ul>
</div>
<hr style="width: 100%;">
<div style="width:100%;margin-left: 1%;">
        <legend>My Posts</legend>
        <ul *ngFor="let post of allPosts_list;let i=index;">
            <div style="background-color:powderblue;width: 90%; border-radius: 25px;"><br>
            <li>
                Posted By:<div style="font-weight:bold; font-size: 15px;">
                    {{post.createdBy}}
                </div><br>Time:{{post.postedTime}}<br>Description:{{post.message}}<br>
            </li>
            <li *ngIf="post.fileName!=''">
                <button mat-raised-button (click)="getfile(post.postId)">{{post.fileName}} {{post.fileSize}} KB</button>
                &nbsp;
                <button mat-raised-button (click)="getfile1(post.postId,post.fileName)">Preview</button>
            </li>
            <li *ngIf="all_view[i]">
                <button mat-raised-button (click)="viewComments(i)">View Comments</button>
            </li>
            <li *ngIf="!all_view[i]">
                <button mat-raised-button (click)="HideComments(i)">Hide Comments</button>
            </li>
            <li *ngIf="all_enablecomment[i]==true">
                <form [formGroup]="addcomm2">
                    <textarea type="text" formControlName="currcomment2" (paste)="handlePaste($event)" (keypress)="specialCharaters($event)" maxlength="500"></textarea>
                </form><br>   
                <button mat-raised-button (click)="addcomm1(post.postId)" [disabled]="addcomm2.invalid">Add Comment</button><br><br>   
                <span *ngFor="let item of post.comments">
                    <div style="background-color:#3b889f; width: 90%; border-radius: 15px;">
                        <p style=" margin-left: 30px;">{{item.commentedBy}} &nbsp;&nbsp;{{item.commentedTime}}</p>
                        <p style=" margin-left: 30px;">{{item.message}}</p>
                    </div>
                </span>  
            </li><br>
            </div>
        </ul>
</div>
</div>