<div class="container">
    <div style="width:10%">
        <table style="margin-left:10%">
            
            <tr>
                <td>
                    <button (click)="getAllPosts()">All Posts</button>
                </td>
            </tr>
            <legend>Your Groups</legend>
            <tr *ngFor="let group of groupsList">
                <td>
                    <button (click)="groupSpecific(group)">{{group.name}}</button>
                </td>
            </tr>
        </table>
        <br><br><br><br>
        <div class="creategroup">
            <form [formGroup]="createGroup">
                <h2>Create new group?</h2>
                
                <input type="text" formControlName="groupName" placeholder="Enter Group Name" (keypress)="specialCharaters($event)" maxlength="68">
                <!-- <mat-error *ngIf="createGroup.get('groupName').errors?.required">
                    Name is <strong>required</strong>
                </mat-error> -->
                <br>
                <br>
                <input type="text" formControlName="groupDescription" placeholder="Enter Group Description" (keypress)="specialCharaters($event)" maxlength="500">
                <!-- <mat-error *ngIf="createGroup.get('groupDescription').errors?.required">
                    Description is <strong>required</strong>
                </mat-error> -->
            </form><br>
            <button mat-raised-button (click)="create_Group()" [disabled]="createGroup.invalid">Create New Group</button>
        </div>
    </div>
    <div style="width:90%">
        <div *ngIf="default" style="margin-left: 10%;">
            
            <ul *ngFor="let post of allPosts_list;let i=index;">
                <div style="background-color:powderblue; width: 95%; border-radius: 25px;">
                <li styl><br>
                    Posted By:<div style="font-weight:bold; font-size: 15px;">
                        {{post.createdBy}}
                    </div><br>Time:{{post.postedTime}}<br>Description:{{post.message}}<br>
                </li>
                <li *ngIf="post.fileName!=''">
                    <button mat-raised-button (click)="getfile(post.postId,post.fileName)">{{post.fileName}} {{post.fileSize}} KB</button>
                    &nbsp;
                    <button mat-raised-button (click)="getfile1(post.postId,post.fileName)">Preview</button>
                </li>
                <li *ngIf="all_view[i]">
                    <button mat-raised-button (click)="viewComments_2(post.postId,i)">View Comments</button>
                </li>
                <li *ngIf="!all_view[i]">
                    <button mat-raised-button (click)="HideComments_2(i)">Hide Comments</button>
                </li>
                <li *ngIf="all_enablecomment[i]==true">
                    <form [formGroup]="addcomm2">
                        <textarea type="text" formControlName="currcomment2" (keypress)="specialCharaters($event)" maxlength="500"></textarea>
                    </form> 
                    <br>
                    <button mat-raised-button (click)="add_comm2(post.postId)" [disabled]="addcomm2.invalid">Add Comment</button>
                    <br><br>
                    <span style="display: inline;" *ngFor="let item of post.comments">
                        <div style="background-color:#3b889f; width: 95%;  border-radius: 15px;">
                        <p style=" margin-left: 30px;">{{item.commentedBy}} &nbsp;&nbsp;{{item.commentedTime}}</p>
                        <p style=" margin-left: 30px;">{{item.message}}</p>
                        
                    </div>
                    </span>  
                </li><br>
            </div>
            </ul>
        </div>
        <div class="addpost" *ngIf="!default">
        <table *ngIf="!default" style="margin-left: 10%;">
            <legend>Add a post in <h2>{{selectedGroup.name}}</h2></legend>
            <tr>
                <td>
                    <form [formGroup]="postForm" style="margin-left:2%">
                        <input type="file" class="file-input" formControlName="post" (change)="onFileSelected($event)" #fileUpload>
                        <div class="file-upload">
                            {{fileName || "Please choose a File."}}
                            <button mat-raised-button color="primary" (click)="fileUpload.click()">Choose</button>
                        </div>
                        <mat-form-field>
                            <mat-label>Description</mat-label>
                            <input matInput formControlName="message" type="text" (keypress)="specialCharaters($event)" maxlength="500">
                          </mat-form-field>
                        <button mat-raised-button (click)="useraddPost()" [disabled]="postForm.invalid">Post</button>
                        </form>
                </td>
            </tr>
        </table>
    </div>
            <ul style="margin-left:10%;" *ngFor="let post of specificPosts;let i=index;">
                <div style="background-color:powderblue;width: 90%; border-radius: 25px;">
                <li>
                    Posted By:<div style="font-weight:bold; font-size: 15px;">
                        {{post.createdBy}}
                    </div><br>Time:{{post.postedTime}}<br>Description:{{post.message}}<br>
                </li>
                <li *ngIf="post.fileName!=''">
                    <button mat-raised-button (click)="getfile(post.postId,post.fileName)">{{post.fileName}} {{post.fileSize}} KB</button>
                    &nbsp;
                    <button mat-raised-button (click)="getfile1(post.postId,post.fileName)">Preview</button>
                </li>
                <li *ngIf="view[i]">
                    <button mat-raised-button (click)="viewComments(post.postId,i)">View Comments</button>
                </li>
                <li *ngIf="!view[i]">
                    <button mat-raised-button (click)="HideComments(i)">Hide Comments</button>
                </li>
                <li *ngIf="enablecomment[i]==true">
                    <form [formGroup]="addcomm2">
                        <textarea type="text" formControlName="currcomment2" (keypress)="specialCharaters($event)" maxlength="500"></textarea>
                    </form> 
                    <br>
                    <button mat-raised-button (click)="add_comm2(post.postId)" [disabled]="addcomm2.invalid">Add Comment</button>
                    <br><br>
                    <span style="display: inline;" *ngFor="let item of post.comments">
                        <div style="background-color:#3b889f; width: 90%; border-radius: 15px;">
                            <p style=" margin-left: 30px;">{{item.commentedBy}} &nbsp;&nbsp;{{item.commentedTime}}</p>
                            <p style=" margin-left: 30px;">{{item.message}}</p>
                          
                        </div>
                        </span> 
                </li><br>
                </div>
            </ul>
    </div>
</div>