<mat-progress-bar *ngIf="showbarLogin" mode="indeterminate"></mat-progress-bar>
<div class="logindiv">
    <h2>Login</h2>
    <form name="loginForm" [formGroup]="loginForm">
        <mat-form-field>
            <mat-label>UserName</mat-label>
            <input matInput formControlName="UserName" type="text">
            <mat-error *ngIf="loginForm.get('UserName').errors?.required">
              User Name is <strong>required</strong>
          </mat-error>
          </mat-form-field><br>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password">
            <mat-error *ngIf="loginForm.get('password').errors?.required">
              Password is <strong>required</strong>
          </mat-error>
          </mat-form-field>
    </form><br>
    <button mat-raised-button (click)="loginUser()" [disabled]="(loginForm.invalid) || (showmfa) || showbarLogin">Login</button><br><br><br>
    <div *ngIf="showmfa">
      <form name="mfaForm" [formGroup]="mfaForm">
        <mat-form-field>
          <mat-label>TOKEN</mat-label>
          <input matInput formControlName="otp" type="text">
          <mat-error *ngIf="mfaForm.get('otp').errors?.required">
            TOKEN is <strong>required</strong>
        </mat-error>
        </mat-form-field><br>
      </form>
      <button mat-raised-button (click)="validate()" [disabled]="mfaForm.invalid || showbarLogin">Validate</button>
    </div>
</div>