<div class="regdiv">
    <h2>Update</h2>
    <form name="regForm" [formGroup]="updateForm">
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput formControlName="fullname" type="text">
            
          </mat-form-field><br>
        <mat-form-field>
            <mat-label>UserName</mat-label>
            <input matInput formControlName="UserName" type="text">
            
          </mat-form-field><br>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email">
          </mat-form-field><br>
    </form><br>
    <button mat-raised-button (click)="editProfile()">Update Profile</button>
</div>